/* EnhancedDiscord Theme v2.0.1 by Joe 🎸#7070 
   Forked by mkualquiera for HueCord */

.theme-dark {
    --background-tertiary: #101010;
    --background-secondary: #090909;
    --background-secondary-alt: #0d0d0d;
    --background-primary: #000000;
    --channeltextarea-background: #050505;
}
/* ---- BACKGROUND ---- */

.container-1D34oG {
   background-color: var(--background-tertiary) !important; 
}

.uploadModal-2ifh8j {
    background-color: var(--background-secondary) !important; 
}

.autocomplete-1vrmpx {
    background-color: var(--background-secondary) !important; 
}

body {
    font-family: 'Ubuntu', normal;
}